* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: poppins;
}

a {
	text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-between;
  padding: 5px;
  background-image: linear-gradient(to right,
		#085078 0%,
		#85d8ce 51%,
		#085078 100%);
  transition: 0.5s;
	background-size: 200% auto;
  color: aliceblue;
}

.header:hover {
	background-position: right center;
}

.header--image {
  height: 100%;
}

.form {
  padding:10px;
}
form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7px;
}

.form-btn {
  grid-column-start: 1;
  grid-column-end: 3;
}